@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn-primary {
    @apply bg-[#00B14F] text-white py-4 rounded-lg text-lg font-medium hover:bg-[#009F47] transition-colors;
  }
  .text-primary {
    @apply text-[#00B14F];
  }
  .textfield-bg-primary {
    @apply bg-[#e6e6e6];
  }
  .border-primary {
    @apply border-[#00B14F];
  }
  
  /* Background classes */
  .bg-primary {
    @apply bg-[#00B14F];
  }
  .bg-secondary {
    @apply bg-[#f1f1f1];
  }
  .bg-light {
    @apply bg-[#f1f1f1];
  }
  
  /* Color classes */
  .color-primary {
    @apply bg-[#00B14F];
  }
  .color-warning {
    @apply bg-[#ffea94];
  }
  .color-error {
    @apply bg-[#ff0000];
  }
  .color-success {
    @apply bg-[#00B14F];
  }
}

.custom-scrollbar {
  max-height: 38vh;
  overflow-y: auto;
  overflow-x: hidden; /* Ngăn cuộn ngang */
  background: white;
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  
  /* Tùy chỉnh thanh cuộn cho Firefox */
  scrollbar-width: thin;
  scrollbar-color: #00B14F #f1f1f1;
}

/* Tùy chỉnh thanh cuộn cho Chrome, Safari và các trình duyệt Webkit khác */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #00B14F;
  border-radius: 4px;
}